.signin {
    margin: 40px auto;
    width: 600px;
}
.signup {
    margin: 40px auto;
    width: 600px;
}
.auth__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.6;
    font-weight: 700;
}