.signin {
    margin: 0 auto;
    padding: 100px 0;
    width: 600px;
}
.signup {
    margin: 0 auto;
    padding: 100px 0;
    width: 600px;
}
.auth__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.6;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .signin,
    .signup {
        width: 400px;
    }
}