.footer {
    padding: 40px 0;
    background-color: #343a40;
    &__title {
        text-transform: uppercase;
        font-size: 20px;
        color: #f39c12;
        margin-bottom: 10px;
    }
    &__item {
        color: #fff;
        padding: 4px 0;
    }
    &__item:hover {
        color: #f39c12;
        cursor: pointer;
    }
    &__social {
        text-align: center;
        margin-top: 14px;
        & a:nth-child(1) {
            display: inline-block;
            color: #fff;
            font-size: 40px;
            padding: 0 20px;
        }
        & a:nth-child(2) {
            display: inline-block;
            color: #1d9bf0;
            font-size: 40px;
            padding: 0 20px;
        } 
        & a:nth-child(3) {
            display: inline-block;
            color: #1d9bf0;
            font-size: 40px;
            padding: 0 20px;
        } 
    }
}
.form-input {
    height: 40px;
    width: 250px;
    padding: 22px 18px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    outline: none;
}
@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
        &__list {
            margin-bottom: 10px;
        }
        &__title {
            margin: 10px 0 4px 0;
        }
    }
    .form-input {
        margin: 0 auto;
        width: 300px;
    }
    .btn-submit {
        margin-left: 8px;
    }
    .footer__social {
        margin-top: 24px;
    }
}